.madre{
    background-color: orange;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.rojo{
    background-color: red;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
    display: grid;
    margin: auto;
    margin-top: 50px;
}
.amarillo{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: grid;
    margin: auto;
}
.verde_claro{
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: grid;
    margin: auto;
}
.celeste{
    background-color: cyan;
    display: grid;
    margin: auto;
    height: 400px;
    width: 480px;
    border-radius: 100%;
}
.verde_oscuro{
    background-color: green;
    height: 200px;
    width: 230px;
    border-radius: 100%;
    display: grid;
    margin: auto;}
.morado{
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: grid;
    margin: auto;}
.negro{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: grid;
    margin: auto;}